.CommentWriter {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  width: auto;
  padding: 0 40px;
  padding-bottom: 10px;
}

.CommentWriter p {
  font-weight: 600;
  margin-bottom: 0;
}

.CommentWriter-hidden {
  display: none;
}

.CommentWriter textarea {
  min-height: 60px;
  border: 1px solid #767676;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  font-size: 14px;
  outline: 0;
  outline-offset: 0;
  width: 100%;
}

.CommentWriter-buttons {
  display: flex;
  gap: 10px;
}
