.LoginButtons {
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 10px 20px;
  margin: 0;
  font-size: 18px;
}

.LoginButtons-user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.LoginButtons-user-info p {
  margin: 0;
  cursor: pointer;
}