.CartItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
  padding: 5px 20px;
}

.CartItem-details {
  display: flex;
  gap: 25px;
}

.CartItem-name {
  display: flex;
  gap: 10px;
}

.CartItem-name__code {
  padding-right: 10px;
}

.CartItem-details__actions {
  display: flex;
  align-items: center;
}

.CartItem-details__price {
  display: flex;
  gap: 45px;
}
